alabaster==0.7.13
altgraph==0.17.4
antlr4-python3-runtime==4.8
asttokens==2.2.1
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
bitarray==2.8.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click @ file:///C:/ci_311/click_1676433091657/work
colorama==0.4.6
comm==0.1.3
Cython==3.0.3
debugpy==1.6.6
decorator==5.1.1
deep-translator==1.11.4
docutils==0.18.1
docx2txt==0.8
executing==1.2.0
fairseq==0.12.2
filelock==3.12.4
Flask @ file:///C:/ci_311/flask_1676436667658/work
Flask-Cors==4.0.0
fsspec==2023.9.2
gevent==23.9.1
greenlet==3.0.0
hydra-core==1.0.7
idna==3.4
imagesize==1.4.1
indic-nlp-library==0.92
ipykernel==6.22.0
ipython==8.12.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi==0.18.2
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
joblib==1.3.2
jupyter_client==8.1.0
jupyter_core==5.3.0
lxml==4.9.3
MarkupSafe @ file:///C:/ci_311/markupsafe_1676424152318/work
matplotlib-inline==0.1.6
mock==5.1.0
Morfessor==2.0.6
mpmath==1.3.0
nest-asyncio==1.5.6
networkx==3.1
numpy==1.25.2
omegaconf==2.0.6
opencv-python==4.8.0.76
packaging==23.0
pandas==2.1.1
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
portalocker==2.8.2
progressbar2==4.2.0
prompt-toolkit==3.0.38
protobuf==4.24.4
psutil==5.9.4
pure-eval==0.2.2
pyarrow==13.0.0
pycparser==2.21
pydload==1.0.9
Pygments==2.14.0
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1694552372673/work
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.22
python-utils==3.8.1
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.0.2
regex==2023.10.3
requests==2.31.0
sacrebleu==2.3.1
sacremoses==0.0.53
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-argparse==0.4.0
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
stack-data==0.6.2
sympy==1.12
tabulate==0.9.0
tensorboardX==2.6.2.2
torch==2.1.0
torchaudio==2.1.0
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
urduhack==0.1.4
urllib3==2.0.4
wcwidth==0.2.6
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
XlsxWriter==3.1.3
zope.event==5.0
zope.interface==6.1
