<!DOCTYPE html>
<html>
<head>
    <title>PlaceHolder Name</title>
</head>
<body>
    <form action="/display" method="post">

        <label> Enter the File's Path :</label> 
        <input type="text" id="file_path" name="file_path"><br><br>
        <label> Enter the File's Original Language :</label> 
        <input type="text" id="og_lang" name="og_lang"><br><br>
        <label> Enter the Language that you wish the text to be translated to :</label> 
        <input type="text" id="dir_lang" name="dir_lang"><br><br>
        <!-- <input type="text" id="model_lang" name="model_lang"><br> -->
        <label> Enter Language Code of the file (Input Only If Translating An Image ):</label>
        <input type="text" id="model_lang" name="model_lang"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br><br>
    <pre>All Supported Language Code For Image based translation:</pre>
    <!-- There should a link here.  -->
    <pre> Additional Info:</pre>
    <!-- there should be a dropbox of text here -->
</body>
</html>
